.button {
  padding: 15px 40px;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  border: 0;
  border-radius: $c-border-radius;
  transition: $c-transition;
  cursor: pointer;

  &--color-blue {
    color: $white;
    background-color: $blue;

    &:hover {
      box-shadow: $c-button-box-shadow;
    }

    &:active {
      background-color: darken($blue, 5%);
    }
  }

  &--small {
    padding: 7px 20px;
  }

  &--link {
    padding: 15px 0;
    text-decoration: none;
    color: $black;

    &:hover {
      color: $blue;
      box-shadow: $c-button-link-box-shadow;
      border-radius: 0;
    }
  }
}
