.u-height {
  &--full {
    height: 100%;
  }
}

.u-display {
  &--flex {
    display: flex;
  }
}

.u-align-items {
  &--center {
    align-items: center;
  }
}

.u-margin-top {
  &--base {
    padding-top: $c-space-vertical !important;
  }
}
