.u-height {
  &--full {
    height: 100%;
  }
}

.u-display {
  &--flex {
    display: flex;
  }
}

.u-align-items {
  &--center {
    align-items: center;
  }
}

.u-justify-content {
  &--center {
    justify-content: center;
  }
}

.u-margin-top {
  &--base {
    margin-top: $c-space-vertical !important;
  }

  &--base-half {
    margin-top: $c-space-vertical / 2 !important;
  }
}

.u-margin-bottom {
  &--base {
    margin-bottom: $c-space-vertical !important;
  }

  &--base-x2 {
    margin-bottom: $c-space-vertical * 2 !important;
  }
}

.u-padding {
  &--10 {
    padding: 10px;
  }
}

.u-padding-top {
  &--base {
    padding-top: $c-space-vertical !important;
  }

  &--base-half {
    padding-top: $c-space-vertical / 2 !important;
  }
}

.u-font-weight {
  &--600 {
    font-weight: 600;
  }
}

.u-font-size {
  &--30 {
    font-size: 30px;
  }

  &--45 {
    font-size: 45px;
  }
}

.u-color {
  &--red {
    color: $red;
  }
}

.u-cursor {
  &--grab {
    cursor: grab;
  }

  &--zoom-in {
    cursor: zoom-in;
  }
}
