/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.u-height--full {
  height: 100%; }

.u-display--flex {
  display: flex; }

.u-align-items--center {
  align-items: center; }

.u-justify-content--center {
  justify-content: center; }

.u-margin-top--base {
  margin-top: 20px !important; }
.u-margin-top--base-half {
  margin-top: 10px !important; }

.u-margin-bottom--base {
  margin-bottom: 20px !important; }
.u-margin-bottom--base-x2 {
  margin-bottom: 40px !important; }

.u-padding--10 {
  padding: 10px; }

.u-padding-top--base {
  padding-top: 20px !important; }
.u-padding-top--base-half {
  padding-top: 10px !important; }
.u-padding-top--base-x4 {
  padding-top: 80px !important; }

.u-padding-bottom--base-x5 {
  padding-bottom: 100px !important; }

.u-font-weight--600 {
  font-weight: 600; }

.u-font-size--30 {
  font-size: 30px; }
.u-font-size--45 {
  font-size: 45px; }

.u-color--red {
  color: #E74440; }

.u-cursor--grab {
  cursor: grab; }
.u-cursor--zoom-in {
  cursor: zoom-in; }

.button {
  padding: 15px 40px;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  transition: All 0.1s ease-out;
  cursor: pointer; }
  .button--color-blue {
    color: #ffffff;
    background-color: #4487FF; }
    .button--color-blue:hover {
      box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2); }
    .button--color-blue:active {
      background-color: #2b77ff; }
  .button--small {
    padding: 7px 20px; }
  .button--link {
    padding: 15px 0;
    text-decoration: none;
    color: #151515; }
    .button--link:hover {
      color: #4487FF;
      box-shadow: inset -1px -4px 0px -2px #4487FF;
      border-radius: 0; }

.input {
  padding: 15px 25px;
  outline: none;
  font-size: 16px;
  border: 1px solid #4487FF;
  border-radius: 4px;
  transition: All 0.1s ease-out; }
  .input:focus {
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2); }
  .input--small {
    padding: 7px 10px; }

.h-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px; }

html, body {
  font-family: Arial;
  font-size: 18px; }

.main-background-gradient {
  background-image: linear-gradient(to bottom, #E4F0FF, #C6DDFF); }

.main-heading-h1 {
  max-width: 1000px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 50px;
  color: #151515;
  word-break: break-word; }

.main-divider-top {
  border-top: 1px solid rgba(0, 0, 0, 0.3); }

.ui-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .ui-checkbox input {
    position: absolute;
    visibility: hidden; }
  .ui-checkbox span {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    background-color: #ffffff;
    border: 2px solid #4487FF;
    border-radius: 4px;
    transition: All 0.1s ease-out; }
  .ui-checkbox input:checked + span {
    background: #4487FF; }
    .ui-checkbox input:checked + span svg {
      opacity: 1; }
  .ui-checkbox svg {
    width: 13px;
    height: 13px;
    color: #ffffff;
    opacity: 0; }

.ui-radio {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .ui-radio input {
    position: absolute;
    visibility: hidden; }
  .ui-radio span {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    background-color: #ffffff;
    border: 2px solid #4487FF;
    border-radius: 100%;
    transition: All 0.1s ease-out; }
  .ui-radio input:checked + span {
    background: #4487FF; }
    .ui-radio input:checked + span svg {
      opacity: 1; }
  .ui-radio svg {
    width: 12px;
    height: 12px;
    color: #ffffff;
    opacity: 0; }

.c-header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #e4f0ff; }
  @media only screen and (max-width: 768px) {
    .c-header .h-inner {
      flex-flow: column; } }
  .c-header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #151515;
    transition: All 0.1s ease-out; }
    .c-header__logo:hover {
      text-decoration: underline; }
    .c-header__logo svg {
      width: 70px;
      height: 70px; }
    .c-header__logo h1 {
      margin-left: 30px; }
  .c-header ul {
    display: flex;
    margin-left: auto; }
    @media only screen and (max-width: 768px) {
      .c-header ul {
        bottom: -20px;
        margin-left: 0;
        position: relative; } }
    .c-header ul li + li {
      margin-left: 30px; }

.c-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }
  .c-modal__wrapper {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 4px; }
  .c-modal__content {
    padding: 30px 40px; }
    .c-modal__content__form {
      display: flex;
      flex-flow: column; }
      .c-modal__content__form label {
        display: flex;
        align-items: center; }
        .c-modal__content__form label:not(:first-of-type) {
          margin-top: 15px; }
        .c-modal__content__form label span {
          width: 30%; }
        .c-modal__content__form label input {
          width: 100%; }
    .c-modal__content h3 {
      color: #4487FF;
      font-weight: 600; }
  .c-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 22px;
    color: #4487FF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); }
    .c-modal__header svg {
      width: 20px;
      height: 20px;
      cursor: pointer; }

.c-timetable {
  font-size: 15px; }
  .c-timetable__header {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600; }
  .c-timetable__row {
    display: flex;
    flex-flow: row; }
    .c-timetable__row:not(:first-of-type) {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.3); }
  .c-timetable__cell-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: -5px; }
  .c-timetable__doctor {
    min-width: 180px;
    padding: 0;
    font-size: 18px;
    border: none;
    white-space: nowrap; }
  .c-timetable__cell {
    min-width: 93px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #fdc900;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: All 0.1s ease-out; }
    .c-timetable__cell:hover {
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }
    .c-timetable__cell--free {
      background-color: #81e681; }
    .c-timetable__cell span {
      display: flex; }
      .c-timetable__cell span:not(:first-of-type) {
        margin-top: 5px; }

.p-waiting-room {
  height: 100vh;
  background-color: #E4F0FF; }
  .p-waiting-room__time {
    padding: 40px 0;
    font-size: 5vw;
    text-align: center; }
  .p-waiting-room__visits {
    width: 100%;
    display: table;
    text-align: left; }
    .p-waiting-room__visits__visit {
      display: flex; }
      .p-waiting-room__visits__visit:nth-of-type(even) {
        background-color: #E4F0FF; }
      .p-waiting-room__visits__visit:nth-of-type(odd) {
        background-color: #C6DDFF; }
      .p-waiting-room__visits__visit__cell {
        width: auto;
        padding: 10px 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        border-right: 1px solid rgba(0, 0, 0, 0.5); }
        .p-waiting-room__visits__visit__cell:first-of-type {
          min-width: 30%;
          white-space: nowrap; }
        .p-waiting-room__visits__visit__cell span {
          display: block;
          font-size: 2vw; }
          .p-waiting-room__visits__visit__cell span:nth-of-type(2) {
            margin: 20px 0; }

.p-homepage {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  text-align: center; }

.p-login {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  text-align: center; }
  .p-login div {
    width: 100%;
    max-width: 300px; }
  .p-login h1 {
    font-size: 40px;
    color: #151515; }
  .p-login form {
    display: flex;
    flex-flow: column; }

.p-app {
  height: calc(100vh - 80px); }
  .p-app__wrapper {
    display: flex;
    flex-flow: row wrap; }
  .p-app__box {
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 50px;
    font-size: 30px;
    color: #ffffff;
    background-color: #4487FF;
    border-radius: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; }
    .p-app__box:nth-of-type(even) {
      margin-left: 40px; }
    .p-app__box:nth-of-type(n+3) {
      margin-top: 40px; }
    .p-app__box h1 {
      font-size: 88px;
      text-align: center; }
    .p-app__box h2 {
      margin-top: 20px;
      font-size: 22px; }

.p-reception {
  min-height: calc(100vh - 80px); }
  .p-reception__header {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600; }
  .p-reception__wrapper {
    display: flex; }
    @media only screen and (max-width: 768px) {
      .p-reception__wrapper {
        flex-flow: column; } }
  .p-reception__menu {
    margin-right: 60px; }
    .p-reception__menu form {
      display: flex;
      flex-flow: column; }
    .p-reception__menu label {
      display: flex;
      align-items: center;
      white-space: nowrap;
      cursor: pointer; }
      .p-reception__menu label:not(:first-of-type) {
        margin-top: 10px; }
      .p-reception__menu label input[type="radio"], .p-reception__menu label input[type="checkbox"] {
        margin: 0 7.5px 0 0; }
      .p-reception__menu label input[type="date"] {
        height: 18px;
        margin: 0 0 0 7.5px; }

/*# sourceMappingURL=style.css.map */
