.p-homepage {
  height: calc(100vh - #{$header-height});
  display: flex;
  align-items: center;
  text-align: center;

  h1 {
    max-width: 1000px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: $black;
    word-break: break-word;
  }
}
