.p-reception {
  min-height: calc(100vh - #{$header-height});

  &__header {
    margin-bottom: $c-space-vertical;
    font-size: $c-font-size-xl;
    font-weight: 600;
  }

  &__wrapper {
    display: flex;

    @media only screen and (max-width: $mobile-breakpoint) {
      flex-flow: column;
    }
  }

  &__menu {
    margin-right: $c-space-horizontal * 4;

    form {
      display: flex;
      flex-flow: column;
    }

    label {
      display: flex;
      align-items: center;
      white-space: nowrap;
      cursor: pointer;

      &:not(:first-of-type) {
        margin-top: $c-space-vertical / 2;
      }

      input {
        &[type="radio"], &[type="checkbox"] {
          margin: 0 $c-space-horizontal / 2 0 0;
        }

        &[type="date"] {
          height: 18px;
          margin: 0 0 0 $c-space-horizontal / 2;
        }
      }
    }
  }

  &__last-visit {
    bottom: 0;
    width: 100%;
    padding: ($c-space-horizontal / 2) $c-space-horizontal;
    position: fixed;
    font-size: $c-font-size-sm;
    color: $white;
    background: $blue;
  }
}
