.p-waiting-room {
	height: 100vh;
	background-color: $gradient-blue-1;

	&__time {
		padding: ($c-space-vertical * 2) 0;
		font-size: 5vw;
		text-align: center;
	}

	&__visits {
		width: 100%;
		display: table;
		text-align: left;

		&__visit {
			display: flex;

			&:nth-of-type(even) {
				background-color: $gradient-blue-1;
			}

			&:nth-of-type(odd) {
				background-color: $gradient-blue-2;
			}

			&__cell {
				width: auto;
				padding: 10px $c-space-horizontal * 2;
				display: flex;
				flex-flow: column;
				justify-content: center;
				border-right: 1px solid rgba(0, 0, 0, 0.5);

				&:first-of-type {
					min-width: 30%;
					white-space: nowrap;
				}

				span {
					display: block;
					font-size: 2vw;

					&:nth-of-type(2) {
						margin: $c-space-vertical 0;
					}
				}
			}
		}
	}
}
