.c-header {
  width: 100%;
  height: $header-height;
  box-shadow: $c-box-shadow;
  background-color: #e4f0ff;

  .h-inner {
    @media only screen and (max-width: $mobile-breakpoint) {
      flex-flow: column;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: $black;
    transition: $c-transition;

    &:hover {
      text-decoration: underline;
    }

    svg {
      width: 70px;
      height: 70px;
    }

    h1 {
      margin-left: $c-space-horizontal * 2;
    }
  }

  ul {
    display: flex;
    margin-left: auto;

    @media only screen and (max-width: $mobile-breakpoint) {
      bottom: -$c-space-vertical;
      margin-left: 0;
      position: relative;
    }

    li + li {
      margin-left: $c-space-horizontal * 2;
    }
  }
}
