.c-header {
  width: 100%;
  height: 50px;
  box-shadow: $c-box-shadow;

  ul {
    display: flex;
    margin-left: auto;

    li {
      a {
        padding: 5px;
      }
    }

    li + li {
      margin-left: $c-space-horizontal;
    }
  }
}
